# Local MongoDB connection
MONGODB_URI=mongodb://localhost:27017/shopvibe

# NextAuth config
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=9be88a2fsdDEMOAUTHSECRET7e190f3bafds7f2

# Auth Providers Client IDs & Secrets
# (Fill these with credentials from Google, GitHub, and Facebook Developer Consoles)
GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_ID=
FACEBOOK_SECRET=
